* {
  padding: 0;
  margin: 0;
}

.start {
  width: 700px;
  height: 700px;
  position: fixed;
  background-color: red;
  display: none;
}

.youWon {
  margin: auto;
  text-align: center;
  width: 700px;
  height: 700px;
  position: fixed;
  color: red;
  display: none;
  vertical-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
